
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Karantina&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainTitle{
  @apply text-primary text-l not-italic font-thin leading-[56px] tracking-[-1.6px] uppercase 
  tablet:leading-[1] tablet:text-xl tablet:tracking-[-2.68px]
  desktop:text-xxl desktop:tracking-[-3.92px] 
}
.text{
  @apply text-primary not-italic text-sm font-extralight leading-[20px]
  tablet:text-s tablet:leading-[20px]
  desktop:text-base desktop:leading-[24px]
}
 .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

 
  display: flex;
  justify-content: center;
  align-items: center;
} 
.swiper-pagination .swiper-pagination-fraction .swiper-pagination-horizontal{
  color:green;
}
.swiper-pagination-current{
  color: #fff;
}
.swiper-pagination-total{
  color:red;
}
/* .servicesImage{
  @apply w-[280px] h-[213px]
  tablet:w-[463px] tablet:h-[370px]
  desktop:w-[607px] desktop:h-[429px]
} */
/* @layer utilities {
  .line-height-normal {
    line-height: normal; leading-[1]
  }
  .title {
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 56px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
  }
  .text {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
  }
} */

