.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    top: 90%;
    font-size: 33px;
    font-weight: 100;
    cursor: pointer;
}
.swiper-button-prev{
    left: 69px;
    @media screen and (min-width:1280px) {
        left: 220px;
    }
}
.swiper-button-next {
    right: 69px;
    @media screen and (min-width:1280px) {right: 155px;}
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 415px;
    height: 294px;

    @media screen and (min-width: 1280px) {
        width: 606px;
        height: 429px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}
