.swiper-slide img {
    display: block;
    width: 100%;
}
.image-slider{
    max-width:280px;
    height:200px;
    display: block;
   margin: 0 auto;
   object-fit: cover;
   @media screen and (min-width:768px){
        max-width: 450px;
        height: 380px;
   }
   @media screen and (min-width:1280px) {
       max-width: 620px;
       height: 460px;
   }
}
  .slideText{
    @apply uppercase not-italic font-extralight text-xl leading-[17px] tablet:text-[22px] tablet:leading-[18px] desktop:text-[28px] desktop:leading-6
  }
  
  /* .swiper-slide-gallery {
    width: 420px;
    height: 850px;
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 621px;
    }
    @media screen and (min-width: 1280px) {
        width: auto;
        height: 780px;
    }
} */
.swiper-slide-gallery{
  width: 100%;
  height: auto;
  /* height: 739px;
  @media screen and (min-width: 768px) {
    height: 434px;
}
@media screen and (min-width: 1280px) {
    width: auto;
    height: 571px;
} */
}